################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/HostingTimeUntil/CopilotIndices/17.12.53.23981
